body * {
    box-sizing: border-box;
}
.container {
    width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}
.borderR {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#search {
    padding: 15px 0;
}
#search input {
    padding: 10px;
    width: 100%;
    border: 2px solid #ccc;
}
#car_list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    margin-bottom: 50px;
}
#car_list li {
    width: 33.333%;
    float: left;
    padding: 15px 15px 0;
}
#car_list .borders {
    border-right: 2px solid #ccc;
}
#car_list .borders:nth-of-type(3n+1) {
    padding-left: 0;
}
#car_list .borders:nth-of-type(3n) {
    padding-right: 0;
}
#car_list .borders:nth-of-type(3n), #car_list .borders:last-of-type {
    border-right: none;
}
#car_list .border_bottom {
    padding-top: 0;
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc;
}
.cars h3 {
    position: absolute;
    top: 0;
    left: 15px;
}
.cars .cars_body {
    position: relative;
    height: 250px;
    border: 2px solid #ccc;
}
.borderRed .cars_body, .borderRed .cars_back {
    border-color: red !important;
}
.cars .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.cars img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

/* flip */
#car_list {
    perspective: 1000px;
}
#car_list .cars .flipper:hover, #car_list .cars .flipper.hover {
    transform: rotateY(180deg);
}
.cars .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}
.cars_body, .cars_back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}
.cars_body {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}
.cars_back {
    transform: rotateY(180deg);
    height: 100%;
}
.cars:hover .cars_body {
    position: absolute;
}
.cars:hover .cars_back {
    position: relative;
    height: 250px;
    border: 2px solid #ccc;
    overflow: hidden;
}
.cars_info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: rgba(0, 0, 0, 0.6);
}
.cars_info * {
    padding: 10px;
    margin: 0;
    color: #fff;
}
.cars_info span {
    display: block;
    margin-top: 50px;
}

/* Race track */
#race {
    padding-top: 20px;
}
#race_track {
    position: relative;
    overflow: hidden;
    border: 2px solid #ccc;
}
.tracks {
    height: 50px;
    padding: 5px 0;
    background-color: #333;
    border-bottom: 2px solid #fff;
}
.tracks:last-child {
    border-bottom: none;
}
.track_cars {
    border: 2px solid #ccc;
    width: 70px;
    height: 100%;
}
#race_markers {
    position: absolute;
    z-index: 9;
}
.distMarker {
    top: 0;
    height: 150px;
    position: absolute;
}
.distMarker p {
    position: absolute;
    top: -20px;
    margin: 0;
    margin-left: -12px;
}
.distMarker span {
    display: block;
    width: 1px;
    height: 100%;
    opacity: 0.2;
    background-color: #ccc;
}
#race_events {
    position: relative;
    z-index: 11;
}
.speed_limit {
    top: 0;
    height: 150px;
    position: absolute;
}
.speed_limit span {
    display: block;
    width: 1px;
    height: 100%;
    border-left: 4px dashed #ccc;
    margin-left: -2px;
    opacity: 0.5;
}
.speed_limit p {
    position: absolute;
    width: 50px;
    height: 50px;

    font-size: 26px;
    line-height: 44px;

    bottom: -60px;
    margin: 0;
    margin-left: -24px;

    text-align: center;

    border: 4px solid #ccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.traffic_light {
    top: 0;
    height: 150px;
    position: absolute;

    z-index: 14;
}
.traffic_light div {
    position: absolute;
    height: 70px;
    width: 40px;
    padding: 8px;

    bottom: -80px;
    margin-left: -20px;

    border: 2px solid #666;
}
.traffic_light > span {
    display: block;
    width: 1px;
    height: 100%;
    border-left: 4px dashed #ccc;
    margin-left: -2px;
    opacity: 0.5;
}
.traffic_light > div > span {
    display: block;
    width: 20px;
    height: 20px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    background: #ccc;
}
.traffic_light > div > span:first-child {
    background: red;
    margin-bottom: 10px;
}
.traffic_light.green > div > span:first-child {
    background: #ccc;
}
.traffic_light.green > div > span:last-child {
    background: green;
}
